* {
	box-sizing: border-box;	
	font-family: Helvetica;
}
	
body {
	background-color: #F4F6F6;
}

section {
	width: 30%;
	border: 1px solid black;
	float: left;
	margin: 20px;
	padding-top: 50px;
	text-align: center;	
	background-color: #CCCCCC;
	padding-top: 40px;
	padding-bottom: 10px;
}

p {
	float: right;
	margin-top: -40px;
	width: 100px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	text-align: center;	
}

#p_beef {
	background-color: #66CC99;
}

#p_pork {
	background-color: #99CCCC;
}

#p_lamb {
	background-color: #FFCC99;
}

h1 {
	margin-bottom: 5%;
	margin-top: 5%;
	text-align: center;
	color: #666666;
}

.title {
	margin-top: 0px;
	margin-right: 0px;
	border: 1px solid black;
}

/* mobile view */
@media (max-width: 767px) {
	
}

/* tablet view */
@media (min-width: 768px) and (max-width: 991px) {

}

/* web view */
@media (min-width: 992px) {


}

