body {
	background-color:  #f4f6f6 ;
	
}

#box {
	background-color: red;
	/*padding: 15px;
	overflow: auto;*/
	/*width: 100%;*/
	/*box-sizing: border-box;*/
}

#menu_title {
	text-align: center;
	position: static;
	margin-bottom: 30px;
	margin-top: 2%;
}

.main_box {
	border: 1px solid black;
	background-color: #eaeded;
	width: 25%;
	margin: 10px;
	float: left;
}

.box_title {
	background-color: #a3e4d7;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	float: right;
	width: 70px;
	text-align: center;
}

.box_content {
	position: static;
}
